$is-ie ?= false
//$env ?= "dev"

// nib is a library of mixins for Stylus
// documentattion:  http://visionmedia.github.io/nib/
@import 'nib'

// jeet is a grid system mixin library for Stylus
// documentation: http://jeet.gs/
@import 'jeet'


@import "utils/normalize"

@import 'utils/variables'
@import 'utils/mixins'
@import 'utils/base'
@import 'objects/nav'
@import 'objects/footer'

// Form Elements
// 
// Styling for all form related elements.  Most of the stlying for these live in the objects/forms.styl file
// 
// Styleguide 1.
@import 'objects/forms'

// Modules
// 
// Reusable elements that can be used across the site. Like buttons, icons, etc
// 
// Styleguide 2.
@import 'objects/popup'

// layouts
@import 'objects/layouts/default'

// pages
@import 'pages/home'

// the following should always be at the end
@import 'utils/helpers'
@import 'utils/print'