nav.navdrawer-container
  a(href="index.html")
    h1.logo Boilerplate
  
  ul
    li
      a(href="#hello").
        Hello
    li
      a(href="testpage.html").
        Module Testpage
    li
      a(href="styleguide/index.html").
        Style Guide