extends ./layout/default.jade

block vars
  - var pageTitle = 'Home | Boilerplate'
  - var metaKeywords = "boilerplate, jade"
  - var metaDesc = "boilerplate, jade"
  - var bodyAttributes = {  "data-route" : 'home', id : 'home'}

block content
  h1 All hail the home page