extends ./layout/default.jade

block vars
  - var pageTitle = 'Test Page | Boilerplate'
  - var bodyAttributes = {  "data-route" : 'testpage', id : 'testpage'}
  
block content
  h1 Form test page
  a(href="#", class="ga_event", data-ga-category="testCat", data-ga-action="testAction", data-ga-label="testLabel", data-ga-value="testValue").
    GA Test link 1
  a(href="#", class="ga_event", data-ga-category="testCat2", data-ga-action="testAction2", data-ga-label="testLabel2", data-ga-value="testValue2").
    GA Test link 2

  form(id="testForm")
    .formbox.input-box.inline
      label(for="name") Name
      input(type="text", name="name", class="js-validate", data-validate-type="name") 
    span.error error!

    .formbox.input-box.inline
      label(for="phone") Phone
      input(type="text", name="phone", class="js-validate", data-validate-type="phone")
    span.error error!
      
    .formbox.input-box.inline
      label(for="email") Email
      input(type="text", name="email", class="js-validate", data-validate-type="email")
    span.error error!
      
    .formbox.input-box.inline
      label(for="zip") Zip
      input(type="text", name="zip", class="js-validate", data-validate-type="zip", maxlength="5")
    span.error error!

    .formbox.input-box.inline
      label(for="zip4") zip4
      input(type="text", name="zip4", class="js-validate", data-validate-type="zip4")
    span.error error!
    
    .formbox.input-box.inline
      label(for="state") State
      input(type="text", name="state", class="js-validate", data-validate-type="state", maxlength="2")
    span.error error!
    
    .formbox.input-box.inline
      label(for="numbers") Numbers Only
      input(type="text", name="numbers", class="js-validate", data-validate-type="num", maxlength="4")
    span.error error!
    
    .formbox.textarea-box.inline
      label(for="story") Enter text
      textarea(name="story", class="js-validate")
    span.error error!

    p Pick one
    .formbox.radio-box.inline
      label
        input(type="radio", name="test1", class="js-validate")
        | test 1
      label
        input(type="radio", name="test1", class="js-validate").
        | test 2
    span.error error!

    p Pick another one
    .formbox.radio-box.inline
      label
        input(type="radio", name="test2", class="js-validate") 
        | test 3
      label
        input(type="radio", name="test2", class="js-validate") 
        | test 4
    span.error error!

    .formbox.select-box
      select.js-validate(name="select")
        option(value="none", selected="selected", data-validate-type="ignore") select
        option(value="1") Something 1
        option(value="2") Something 2
    span.error error!
    
    h3 Validate one checkbox
    .formbox.check-box
      label
        input(type="checkbox", class="js-validate", name="consent")
        | I agree
    span.error error!

    h3 Validate Multiple Checkboxes
    
    p please choose at <strong>least</strong> 2
    .formbox.check-box.inline
      label
        input(type="checkbox", class="js-validate", data-validate-checkbox="min2", name="sources") 
        | Online
      label
        input(type="checkbox", name="sources") 
        | TV
      label
        input(type="checkbox", name="sources") 
        | Radio
      label
        input(type="checkbox", name="sources") 
        | Friend
      label
        input(type="checkbox", name="sources") 
        | Other
    span.error error!

    p Please choose at <strong>most</strong> 2
    .formbox.check-box.inline
      label
        input(type="checkbox", class="js-validate", data-validate-checkbox="max2", name="places") 
        | Online
      label
        input(type="checkbox", name="places")
        | TV
      label
        input(type="checkbox", name="places")
        | Radio
      label
        input(type="checkbox", name="places")
        | Friend
      label
        input(type="checkbox", name="places")
        | Other
    span.error error!

      
    input.button(type="submit", id="submit")
    
    p(id="complete", class="error") Please fix your errors and try again